<form enctype="multipart/form-data" method="post">

    <div class="mb-3">
        <label for="" class="form-label">Nombre del Pastel:</label>
        <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Descripcion del Pastel:</label>
        <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
    </div>
    
</form>


<!--
Para poder colocar la fecha y laa hora del pedido

<input name="FechaPedido" value="' . $FechaPedido . '" type="datetime-local" class="form-control datetimepicker-input" >

-->